# requirements file
# sandbox had python 3.10
openai
ollama
python-dotenv~=1.0.1
pydantic==2.8.2
gradio==4.44.1
torch==2.1.0
torchtext==0.16.0
pandas
scikit-learn
tqdm 
matplotlib
lightning
numpy==1.26.4
huggingface_hub==0.20.3
keyboard

# Toxic Language Guardrail
nltk
transformers
torch
detoxify
guardrails-ai>=0.4.0

